.Med {
    width: 90%;
    height: 400px;
    border: 1px solid #E3DFDF;
    margin: 0 auto;
}

#myTab li a {
    color: black;
}

.Hos {
    width: 60%;
    height: 400px;
    border: 1px solid #E3DFDF;
    margin-left: 72px;
    position:relative;
}
.forbit{
    width:400px;
    position:absolute;
    left:980px;
    top:-30px;
}
