
@{
    ViewBag.Title = "MedIndex";
    Layout = "~/Views/Mediciner/MIndex_LayoutPage1.cshtml";
}
<link href="~/Content/main.css" rel="stylesheet" />
<style type="text/css">
    .Mainbody {
        background-image: url('../../Content/Images/刚做完手术的医生图片_彼岸图网.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 500px;
        width: auto;
        border-radius: 10px;
    }
</style>
<div class="Mainbody" >
  
</div>


