@using Order.Models;
@model List<Hospital>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-5 col-md-12">
            <div class="thumbnail" style="margin-left: 15px; margin-right: 15px;">
                @if (item.HImage == "" || item.HImage == null)
                {
                    <img src="~/Content/Images/医院默认图.jpg"  style="width:242px;height:200px" />
                }
                else
                {
                    <img src="~/Content/HosImage/@item.HImage"  style="width:242px;height:200px" />
                }
                <div class="caption">
                    <label style="font-size:16px;">@item.Hname</label><br/>
                    <label style="font-size:14px">@item.Grade</label><label style="font-size:12px; font-weight:normal;">(医院)</label>
                    <p><a href="/Frist/HosMed/@item.Hid" class="btn btn-primary" role="button">进入</a> 
                </div>
            </div>
        </div>
    </div>
}

