@using Order.Models;
@model List<Mediciner>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-5 col-md-12" >
            <div class="thumbnail" style="margin-left: 15px; margin-right: 15px;">
                @if (item.MPic == "" || item.MPic == null)
                {
                    <img src="~/Content/Images/默认.jpg" style="width:242px;height:200px" />
                }
                else
                {
                    <img src="~/Content/HosImage/@item.MPic" style="width:242px;height:200px"/>
                }
            <div class="caption">
                <label style="font-size:16px;">@item.Mname</label><label style="font-size:12px; font-weight:normal;">(@item.Titles)</label>
                <p>@item.Hospital.Hname</p>
                <h6>@item.Mspec</h6>
                <p><a href="#" class="btn btn-primary" role="button">预约</a> <a href="#" class="btn btn-default" role="button">问诊</a></p>
            </div>
            </div>
        </div>
    </div>
}
