
@{
    ViewBag.Title = "More";
    Layout = "~/Views/Frist/Mores.cshtml";
}


<div style="border:1px solid gray;width:80%;margin:0 auto;height:600px;">
    <a href="/Frist/Main">首页</a><lable>》</lable><label>@item.</label>
</div>