
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>快医预约后台管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/新建文件夹/css/main.css">
    <link rel="stylesheet" href="~/新建文件夹/css/style.css">
</head>
@using Order.Models;
@{
    Adimin adi = Session["admin"] as Adimin;
}
<body>
    <div id="loading">
        <div ></div>
        <div></div>
        <span></span>
    </div>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top" style="height:77px;">
            <div class="brand" style="position:relative;"><a href="~/新建文件夹/index.html">
    <img src="~/Content/Images/标志后台.jpg" style="position:absolute;top:0;height:76px;left:15px;"/>@*<img src="~/新建文件夹/" alt="Klorofil Logo" class="img-responsive logo">*@
</a> </div>
            <div class="container-fluid" style="position:relative;">
                <div class="navbar-btn" style="padding: 0; padding-top: 10px;" >
                    <button type="button" class="btn-toggle-fullwidth btn-toggle-mx" style="position:absolute;left:200px;"><img src="~/新建文件夹/img/left.png" height="40px" alt=""></button>
                </div>
                <div style="color:white;font-size:30px;position:absolute;top:20px;left:600px;">快医预约后台管理系统</div>
                <div style="color:white;position:absolute;top:30px;left:1250px;">欢迎你：@adi.ANmae</div>
                <a href="/Adimin/Logout" style="color:white;position:absolute;top:30px;left:1450px;">退出</a>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!--_________________________________________________________________________________________-->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="~/Adimin/One/" target="_blank" class="iframe_link active"><span>首页</span></a></li>
                        @*<li><a href="~/新建文件夹/link/2/index.html" target="_blank" class="iframe_link"><span>层次选择器</span></a></li>*@

                        <li>
                            <a href="javascript:;" class="nav-togg"> <span>人员管理</span> </a>
                            <div>
                                <ul>
                                    <li><a href="~/Adimin/UserH/" target="_blank" class="iframe_link"><span>用户管理</span></a></li>
                                    <li><a href="~/Adimin/MedcH/" target="_blank" class="iframe_link"><span>医生管理</span></a></li>
                                    <li><a href="~/Adimin/AdimH/" target="_blank" class="iframe_link"><span>管理员</span></a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:;" class="nav-togg"> <span>医院</span> </a>
                            <div>
                                <ul>
                                    <li><a href="~/Adimin/HospitalH/" target="_blank" class="iframe_link"><span>医院管理</span></a></li>
                                    @*<li><a href="~/新建文件夹/link/2/index.html" target="_blank" class="iframe_link"><span>啪啪</span></a></li>*@
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="nav-togg"> <span>科室管理</span> </a>
                            <div>
                                <ul>
                                    <li><a href="~/Adimin/FristDept/" target="_blank" class="iframe_link"><span>一级科室</span></a></li>
                                    <li><a href="~/Adimin/TwoDept/" target="_blank" class="iframe_link"><span>二级科室</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="nav-togg"> <span>统计</span> </a>
                            <div>
                                <ul>
                                    <li><a href="~/Adimin/TC/" target="_blank" class="iframe_link"><span>医院分部</span></a></li>
                                    <li><a href="~/Adimin/TCMed/" target="_blank" class="iframe_link"><span>医生信息</span></a></li>
                                    <li><a href="~/Adimin/TCUser/" target="_blank" class="iframe_link"><span>用户信息</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="main">
            <div class="main-content" style="height: 100%;">
                <iframe src="~/Adimin/One/" class="iframe_mx uicss-cn"></iframe>
            </div>
        </div>
    </div>
    <script src="~/新建文件夹/js/jquery.min.js"></script>
    <script src="~/新建文件夹/js/bootstrap.min.js"></script>
    <script src="~/新建文件夹/js/jquery.slimscroll.min.js"></script>
    <script src="~/新建文件夹/js/klorofil-common.js"></script>

</body>
</html>

