
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/heightlength.css">
    <link rel="stylesheet" href="../css/mxjs.css">
    <link href="~/后台主页/css/style1.css" rel="stylesheet" />
    <link href="~/后台主页/css/all.css" rel="stylesheet" />
</head>

<body style="">

    <main class="site-wrapper" style="margin-top:-10px;">
       
        <div class="pt-table desktop-768" style="background-color:#0E1118">
            <div>
                <span style="color:#0E1118;margin-top:15px;font-size:24px;">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="pt-tablecell page-home relative">

                <div class="overlay"></div>

                <div class="container">
                    <div class="row" >
                        <div class="col-xs-11 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" style="width:774px;">


                            <div class="hexagon-menu clear">
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="/Adimin/UserH/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-universal-access"></i>
                                            </span>
                                            <span class="title">用户</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="~/Adimin/MedcH/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa  fa-id-card"></i>
                                            </span>
                                            <span class="title">医生</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="~/Adimin/HospitalH/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-hospital"></i>
                                            </span>
                                            <span class="title">医院</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="~/Adimin/AdimH/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-id-badge"></i>
                                            </span>
                                            <span class="title">管理员</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="~/Adimin/FristDept/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-dice-one"></i>
                                            </span>
                                            <span class="title">一级科室</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="/Adimin/TC" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-chart-area"></i>
                                            </span>
                                            <span class="title">统计</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="~/Adimin/TwoDept/" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fa fa-dice-two"></i>
                                            </span>
                                            <span class="title">二级科室</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <span style="color:#0E1118;margin-top:15px;font-size:24px;">&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>

    </main>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="../js/mking.js"></script>
</body>
</html>
